<div class="absolute top-0 right-0 flex items-start justify-end  p-4">
    <div class="flex items-center ">
        <!-- Icono del clima -->
        <img id="weather-icon" class="w-10 h-10 hidden" alt="icono del clima">
        <!-- Texto del clima -->
        <div>
            <span class="text-lg font-semibold text-white">Clima:</span> 
            <span class="text-lg font-bold text-yellow-300" id="temperature">Cargando...</span>
        </div>
    </div>
</div>


