---
import Homeicon from "../icons/home.astro"
import Searchicon from "../icons/search.astro"
import Explorericon from "../icons/explorericon.astro"
---
<div class="flex items-center">
    <div class="bg-zinc-800 space-x-2 text-white rounded-full hover:scale-110 duration-300 cursor-pointer w-12 h-12 flex justify-center items-center">
      <a href="/">
      <Homeicon />
      </a>
    </div>
  
    <div class="flex justify-between w-96 h-12 p-3 items-center hover:bg-zinc-700 bg-zinc-800 rounded-full ml-4 group">
      <div class="flex items-center flex-grow">
        <div class="text-white w-12 h-12 flex items-center justify-center">
          <Searchicon />
        </div>
        <input placeholder="¿Qué quieres reproducir?" class="bg-zinc-800 font-medium group-hover:bg-zinc-700 outline-none hover:border-white text-white border-none flex-grow pr-4 h-5" type="text">
      </div>
      <div class="flex items-center space-x-2">
        <div class="flex justify-center items-center text-white text-3xl m-0">
          |
        </div> 
        <div class="text-zinc-400 flex justify-center items-center hover:text-white hover:scale-110 duration-300 cursor-pointer">
          <a href="">
            <Explorericon />
          </a>
        </div>
    </div>
      </div>
    </div>
  </div>
  
  