---
import Notifyicon from "../icons/notifyicon.astro";
import Clima from "./clima.astro";
---
<div class="flex justify-start items-center p-6 text-zinc-700 hover:text-white duration-300 cursor-pointer">
    <a href="#">
        <Notifyicon />
    </a>
</div>
<div class="rounded-full w-11 h-11 bg-zinc-800 flex hover:scale-105 duration-300 cursor-pointer items-center justify-center">
    <a href="#">
    <div class="rounded-full w-7 h-7 bg-cyan-500 text-center flex items-center justify-center">
        <div class="text-lg text-black text-center">
            I
        </div>
    </div>
    </a>
</div>
